body {
  font-family: 'Trebuchet MS';
}

h1 {
  color: #FFF;
  font-size: 100px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

a {
  text-decoration: none;
}

#hero {
  background: url(/img/cover.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .about {
  color: white;
  margin-top: 30px;
}

#hero .about p {
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

#hero .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

#hero .contact .contact-icon {
  margin: 20px;
}

#hero .contact .contact-icon:hover {
  opacity: 0.5;
}

#work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#work p {
  font-size: 18px;
  line-height: 30px;
}

#work a {
  color: #4054A1;
}

#work a:hover {
  color: #8899DC;
}

#company, #open-source {
  margin-top: 20px;
}

#work .project-list {
  margin-top: 20px;
}
